<link rel="stylesheet" type="text/css" href="/css/dishinput.css">

<form id="dish-form">
  <input type="text" name="dish_name" placeholder="Dish Name">
  <input type="text" name="ingredients" placeholder="Ingredients">
  <input type="text" name="recipe" placeholder="Recipe">
  <select id="dish_type" name="dish_type"></select>
  <button type="submit">Submit</button>
</form>

<script src="/js/dishInput.js"></script>