<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/3c42d1678b.js" crossorigin="anonymous"></script>
    <title>Flipbook</title>
</head>


<body>
    <!-- left nav bar -->
    <nav>
        {{#if loggedIn}}
        <form id="logout-form" action="/logout" method="POST">
            <button id="logout" class="btn-no-style">Logout</button>
        </form>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>

    <!-- right input bar -->
    <aside>

    </aside>
    
{{!-- Render the sub layout --}}
    {{{body}}}

    

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>