<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/review.css">
    <title>Document</title>
</head>

<body>
    <h1>Reviews for {{dish}}</h1>
    {{review}}
    
    <ul>
        <li>{{review}}</li>
        <li>{{review}}</li>
        <li>{{review}}</li>
        <li>{{review}}</li>
    </ul>
    
<aside class="">
    <h1>{{Title of Review}}</h1>
    <textarea id="review">Enter your review here</textarea>
    <h2>By: {{user}} on {{date}}</h2>
</aside>

    


</body>
</html>