<link rel="stylesheet" type="text/css" href="/css/dishinput.css">

<div id="dish-names-container">
  <form id="dish-names-form">
    <h2>Dish Names</h2>
    <label for="category">Category:</label>
    <select name="category" id="category">
      {{#each categories}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <label for="dish-name">Dish Name:</label>
    <input type="text" name="dish-name" id="dish-name" placeholder="Enter dish name">
    <button type="submit">Submit</button>
  </form>
</div>

<script src="/js/dishInput.js"></script>