#dish-names-container {
    width: 400px;
    margin: 0 auto;
  }
  
  #dish-names-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Abril Fatface', cursive;
  }
  
  label {
    font-weight: bold;
  }
  
  select,
  input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Abril Fatface', cursive;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
    font-family: 'Abril Fatface', cursive;
  }

.reviewlink {
  height: 5vh;
  width: 100%;
  text-align: center;
  border: solid 2px black;
  background: linear-gradient(90deg, var(--lights) 0%, var(--lightests) 100%);
  padding-top: 1vh;
}

.reviewlink a:hover {
  color: white;
}