* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#review {
    border: 1px solid black;
    padding: 25px;
    border-left: 20px;
    font-family: 'Abril Fatface', cursive;
}

.dishpage {
font-family: 'Abril Fatface', cursive;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 95vh;
    align-items: center;
}

h1 {
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
}

h2 {
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 16px;
}

.dish {
    font-family: 'Abril Fatface', cursive;
    display: flex;
    border: 2px solid black;
    border-radius: 2rem;
    background: var(--paper);
    height: 45vh;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;
}


.dishname {
    display: flex;
    padding-top: 1rem;
    font-size: 2rem;
}

.ingredients {
    height: 20vh;
    width: 35vw;
    overflow: hidden;
    overflow-y: scroll;
    border-bottom: solid 2px black;
}

.recipe {
    height: 20vh;
    width: 35vw;
    overflow: hidden;
    overflow-y: scroll;
}

.reviews {
    display: flex;
    border: 2px solid black;

    font-family: 'Abril Fatface', cursive;

    border-radius: 3rem;
    background: var(--paper);
    height: 45vh;
    width: 40vw;
    flex-direction: column;
    align-items: center;
}


.reviewitems {
    height: 35vh;
    width: 35vw;
    overflow: hidden;
    overflow-y: scroll;
}


.individualreview {
    border-bottom: solid 2px black;
    height: 10vh;
    width: 35vw;
}

.userdate {
    padding-top: 1rem;
}

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005\f005\f005\f005\f005";
    font-family: 'Font Aewsome 5 Free';
    font-weight: 900;
    color: #ccc;
}

.stars-inner::before {
    content: "\f005\f005\f005\f005\f005";
    font-family: 'Font Aewsome 5 Free';
    font-weight: 900;
    color: #f8ce0b;
}

