* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#review {
    border: 1px solid black;
    padding: 25px;
    border-left: 20px;
    font-family: 'Abril Fatface', cursive;
}

h1 {
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    border-left: 20px;
    
    
}    

h2 {
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 16px;
}

.dish {
display: flex;
border: 2px solid black;
font-family: 'Abril Fatface', cursive;

}

.reviews {
    display: flex;
    border: 2px solid black;
    font-family: 'Abril Fatface', cursive;

}

.dishpage {
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    font-family: 'Abril Fatface', cursive;
}
