.dishlist {
    display: flex;
    flex-direction: column;
    font-family: 'Abril Fatface', cursive;
}

.dishtitle {
    display: block;
    padding-bottom: 2rem;
    font-family: 'Abril Fatface', cursive;
}

.salad-list, .appetizer-list, .bowl-list, .taco-list {
    height: 30rem;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Abril Fatface', cursive;
}

li {
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
}

.h1 {
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
    display: block;
    vertical-align: top;
}