#register-container {
  width: 200px;
  margin: 50px 10px 50px 50px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  height: 300px;
  }
  
#login-container {
  width: 200px;
  margin: 50px 50px 50px 10px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  height: 300px;
  }
  
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Abril Fatface', cursive;
  }
  
input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-family: 'Abril Fatface', cursive;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
button[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
button[type="submit"]:hover {
  background-color: #0069d9;
  }

.homebtn {
  display: inline-block;
  height: 3rem;
  width: 7rem;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  background: linear-gradient(90deg, var(--darks) 0%, var(--lightests) 100%);
  margin-top: 7rem;
  margin-left: 3rem;
}

.loginbtn {
  display: inline-block;
  height: 3rem;
  width: 7rem;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 2rem;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  background: linear-gradient(90deg, var(--darks) 0%, var(--lightests) 100%);

}

.logoutbtn {
  display: block;
  height: 3rem;
  width: 7rem;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  background: linear-gradient(90deg, var(--darks) 0%, var(--lightests) 100%);
  transform: translate(4rem, -9.25rem);
}
